---
import { logs } from "../logs";
import { Image } from "astro:assets";
import ArrowSvg from "../assets/arrow.svg";
---

<section class="max-w-2xl mx-auto px-4 py-10 font-mono no-scrollbar">
    <div class="space-y-6">
        {
            logs.map((log) => (
                <details
                    class="group border border-gray-200 dark:border-gray-700 rounded-md p-4 transition-all duration-700 ease-in hover:shadow-sm"
                    id={`log-${log.date}`}
                >
                    <summary class="flex justify-between cursor-pointer text-sm sm:text-base font-medium text-gray-700 dark:text-gray-300 items-center">
                        <span>
                            {log.date} — {log.title}
                        </span>
                    </summary>
                    <div class="mt-2 space-y-1 text-sm text-gray-600 dark:text-gray-400">
                        {log.entries.map((entry) => (
                            <p>• {entry}</p>
                        ))}
                    </div>
                </details>
            ))
        }
    </div>
</section>
